body{
  background:#efefef;
  background-size:cover;
}
#terminal{
  position: absolute;
  top:30px;
  left:0;
  right:0;
  margin:auto;
  background:#fafafa;
  width:300px;
  height:200px;
  border-radius: 5px;
}
#text1{
  width:200px;
  height:30px;
  border-radius: 3px;
  border:#666 1px solid;
}
#text2{
  width:300px;
  height:30px;
  margin-top: 10px;
  border:#666 1px solid;
  border-radius: 3px;
}
#searchButton{
  background:#3c3c3c;
  color:#fafafa;
  border:#33cccc 2px solid;
  width:80px;
  height:30px;
  border-radius: 5px;
  margin-left:120px;
  margin-top: 10px;
}
#title{
  font-size:16pt;
  display: block;
  font-weight: bold;
  text-align: center;
  width:100%;
}
.services{
border-radius:6px;
width:72px;
color:#3c3c3c;
}
.services:hover{
  background:#fafafa;
    
}
#services{
  position: absolute;
  top:240px;
  left:0;
  right: 0;
  margin:0 auto;
  text-align: center;
}